/******************************************Navbar*******************************************/
.nav-link {
  border-radius: 30px 10px 20px 5px;
}

.nav-link + .nav-link {
  margin-left: 10px
}

.navbar-logo {
  font-family: mplusrounded1c;
  font-size: 25px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline:none;
}

.navbar-header {
  background-color: #F16E10;
}

.top-navbar {
  min-height: 90px;
  /* Text colour navbar */
  color: #000000;
  background-image: url(img/nav-background.svg); 
  /* background-size: 100% auto; */
  background-repeat: no-repeat; 
}

/* Carousel indicators */
.carousel li {
  background-color: red;
  border-radius: 50%;
  min-height: 10px;
  max-width: 10px;
}

/* Carousel transition */
.carousel-item {
  transition: opacity 1s ease-in-out !important;
}

/* Carousel center text */
.trickcenter {
  color:#fff;
  position: fixed;;
  text-align:center;
  top: 30%;
  font-size: 50px;
}

/* Specific font size and aligning to middle for devices */
@media only screen and (max-width: 300px) {
  .trickcenter {
    font-size: 3px;
    top: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .trickcenter {
    font-size: 30px;
    top: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .trickcenter {
    font-size: 25px;
    top: 30%;
  }
}

/********************************************Hero***************************/

.hero {
  min-height: 30vh;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  max-width: 100% !important;
}

.hero-row {
  min-height: 30vh;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  max-width: 100% !important;
}

.hero-col {
  text-align: center;
}

/******************************************About*******************************************/

.about  {
  min-height: 40vh !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  max-width: 100% !important;
  background-color: #e3fcfc;
}

.about-row  {
  min-height: 40vh !important;
  align-items: center;
  margin-right: 10px !important;
  /* This needs to be set otherwise gap on right side -.- */
  max-width: 100% !important;

}

/* .about-col  {
  background-color: coral;
  margin-top: 20px;
} */

.about-img  {
  /* flex:2; */
  max-width: 300px;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.aboutText  {
  /* flex:1; */
  display: table-cell; vertical-align: middle;
}

#about-nav-link  {
  background-color: #FFFF00;
}

/******************************************Activities****************************************/
.activities {
  background-color: crimson;
}

#activities-nav-link  {
  background-color: #90EE90;
  text-align: center;
}

/******************************************Framework*******************************************/

#framework-nav-link {
  background-color: #FFC0CB;
  text-align: center;
}

#routine-nav-link {
  background-color: #0ebbee;
  text-align: center;
}

#contact-nav-link {
  background-color: #ff4d4d;
  text-align: center;
}

.mr-auto  {
  margin: auto;
  font-size: 20px;
  text-align: center;
  font-family: mplusrounded1c;
  background-color: #5bd1de;

}



/******************************************Fonts*******************************************/

@font-face {
  font-family: 'IndieFlower';
  src: local('Lato'), url(./fonts/IndieFlower-Regular.ttf) format('opentype');
}

@font-face  {
  font-family: 'mplusrounded1c';
  src: local('Lato'), url(./fonts/MPLUSRounded1c-Regular.ttf) format('opentype');
}


